[submodule "services/nestjs-backend-app"]
	path = services/nestjs-backend-app
	url = https://github.com/jreydman/alterworld-workspace-backend-app.git
[submodule "services/nextjs-frontend-app"]
	path = services/nextjs-frontend-app
	url = https://github.com/jreydman/alterworld-workspace-frontend-app.git
[submodule "packages/types"]
	path = packages/types
	url = https://github.com/jreydman/alterworld-workspace-types.git
[submodule "packages/prisma"]
	path = packages/prisma
	url = https://github.com/jreydman/alterworld-workspace-prisma.git
[submodule "packages/tsconfig"]
	path = packages/tsconfig
	url = https://github.com/jreydman/alterworld-workspace-tsconfig.git
[submodule "packages/eslint"]
	path = packages/eslint
	url = https://github.com/jreydman/alterworld-workspace-eslint.git
