# [PROJECT] ####
PROJECT_NAME=alterworld-workspace
PROJECT_REPOSITORY_URL=https://github.com/jreydman/alterworld-workspace.git
PROJECT_DEVELOPMENT=true
################

# [DATABASES] ####
# AUTHDB
DATABASE_PROVIDER__AUTHDB=postgresql
DATABASE_USER__AUTHDB=postgresql
DATABASE_PASSWORD__AUTHDB=postgresqk
DATABASE_SERVIDE_HOST__AUTHDB=localhost
DATABASE_PORT__AUTHDB=5432
DATABASE_NAME__AUTHDB=postgresql
################

# [SECURITY] ####
SECRET_HASH_SOLT=

# JWT CREDENTIALS
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRATION=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRATION=

# GOOGLE CREDENTIALS
GOOGLE_OAUTH_CLIENTID=
GOOGLE_OAUTH_SECRET=
GOOGLE_OAUTH=CALLBACK=

#################
